.footer {
    position: fixed;
    bottom: 0;
    // right: 235;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    border-radius: 2px;
    color: #ffff;
    background-color: #3F51B5;
    z-index: 9999;
}

.pwd-by {
    font-weight: 600;
    text-align: center;
    // margin-right: 235px;
}
// @media only screen and (max-width: 680px) {
//     .pwd-by {
//         text-align: center;
//         // margin-right: 235px;
//     }
//   }

// @media only screen and (max-width: 480px) {
//     .pwd-by {
//         margin-right: auto;
//     }
//   }

.icon-size {
    font-size: 12px !important;
}